<h1>Ooops! Page not found!</h1>
<button id="btn">Back!</button>

<script>
  const btn = document.querySelector('#btn')
  btn.addEventListener('click', () => {
    console.log('Also got clicked!')
  })
</script>