<h1>Welcome to our homepage!</h1>
<button id="btn">Clicked!</button>

 <script>
   const btn = document.querySelector('#btn')
   btn.addEventListener('click', () => {
     console.log('clicked')
   })
 </script>