<h1>Welcome to our homepage!</h1>
{{#if user}}
{{user}}
{{/if}}
<button id="btn">Clicked!</button>
<a href="/users/login">Users</a>
 <script>
   const btn = document.querySelector('#btn')
   btn.addEventListener('click', () => {
     console.log('clicked')
   })
 </script>