<h1>Login</h1>
<form action="/users/login">
<label for="email">Email:</label>
<input type="email" id="email" name="email" required>
<br>
<label for="password">Password</label>
<input type="password" id="password" name="password" required>
<br>
<input type="submit" value="Login">
<br>
</form>
<h2>New User?</h2>
<a href="/users/register">Sign up</a>